[
  {emqttd_plugin_observer, [

    % required.
    % pass the {BrokerHost,Port} of at least one permanent broker.
    % Ideally should be the IP of a load balancer so that any broker can be contacted
    % We use kfk0 as the bootstrap broker, and there should be a line for kfk0 in the hosts file
    % See Deploy.md for details
    {ekaf_bootstrap_broker, {"kfk0", 9092}},

    % optional
    % how big is the connection pool per partition
    % since the onlyu.im topic has 2 partitions, we'll have 2 * 5 = 10 workers
    % note: larger ekaf_per_partition_workers will cause higher CPU usage
    {ekaf_per_partition_workers, 5},

    % optional
    % how to buffer events
    % batch events until they reach 1000 for a partition, or 3000 ms of inactivity, which ever comes first
    {ekaf_max_buffer_size, 1000},
    {ekaf_buffer_ttl, 3000},

    % optional
    % if you are not bothered about the order, use random for speed
    % else the default is random
    {ekaf_partition_strategy, [
      {ekaf_partition_strategy, random}  % for other topics, just use random, which is faster
    ]}
  ]}
].
